@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    @apply h-full;
  }

  body {
    @apply bg-slate-900 text-slate-100 antialiased;
    -webkit-tap-highlight-color: transparent;
    overscroll-behavior: none;
  }
}

@layer utilities {
  .safe-top {
    padding-top: env(safe-area-inset-top);
  }
  .safe-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
